<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:context="http://www.springframework.org/schema/context"
	xmlns:jpa="http://www.springframework.org/schema/data/jpa" xmlns:tx="http://www.springframework.org/schema/tx"
	xmlns:repository="http://www.springframework.org/schema/data/repository"

	xsi:schemaLocation="http://www.springframework.org/schema/beans
        http://www.springframework.org/schema/beans/spring-beans.xsd
        http://www.springframework.org/schema/context
        http://www.springframework.org/schema/context/spring-context.xsd
		http://www.springframework.org/schema/data/repository
		http://www.springframework.org/schema/data/repository/spring-repository.xsd">

	<context:annotation-config />


	<beans profile="static">
		<bean id="chefTodoClient" class="ui.client.test.ChefTodoStatic">
			<qualifier value="chefClient" />
		</bean>
		<bean id="openTabClient" class="ui.client.test.OpenTabStatic">
			<qualifier value="openClient" />
		</bean>
		<bean id="tabsClient" class="ui.client.test.TabsStatic">
			<qualifier value="tabsClient" />
		</bean>
	</beans>

	<beans profile="eureka">
		<bean id="chefTodoClient" class="ui.client.ChefTodoClient">
			<qualifier value="chefClient" />
		</bean>
		<bean id="openTabClient" class="ui.client.OpenTabClient">
			<qualifier value="openClient" />
		</bean>
		<bean id="tabsClient" class="ui.client.TabsClient">
			<qualifier value="tabsClient" />
		</bean>
		<bean id="menuClient" class="ui.client.MenuClientEureka">
			<qualifier value="menuClient" />
		</bean>
	</beans>

</beans>