<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/web/thymeleaf/layout"
	layout:decorator="layout">
<head>
<title>Menu</title>
</head>
<body>
	<h1 layout:fragment="header">Menu</h1>
	<div layout:fragment="content" class="container">

		<table class="table table-bordered table-striped">
			<thead>
				<tr>
					<td>Comando</td>
				</tr>
			</thead>
			<tbody>
				<tr>
					<td><a href="/tabs/web/opentab/">Open tab</a></td>
				</tr>
				<tr>
					<td><a href="/tabs/web/placeorder/">Place order</a></td>
				</tr>
				<tr>
					<td><a href="/tabs/web/markdrinksserved/">Mark drinks served</a></td>
				</tr>
				<tr>
					<td><a href="/tabs/web/markfoodprepared/">Mark food prepared</a></td>
				</tr>
				<tr>
					<td><a href="/tabs/web/markfoodserved/">Mark food served</a></td>
				</tr>
				<tr>
					<td><a href="/tabs/web/closetab/">Close tab</a></td>
				</tr>
			</tbody>
		</table>
	</div>
</body>
</html>